.base-bkg {
  min-height: 100vh;
  min-width: 100%;
  // background-image: linear-gradient(to right, rgb(250, 168, 168), yellow);

  background: rgba(250, 250, 239, 1);
  background: -moz-linear-gradient(
    top,
    rgb(250, 239, 239) 0%,
    rgb(250, 239, 239) 30%,
    rgb(255, 181, 168) 63%,
    rgb(255, 181, 168) 87%,
    rgb(237, 55, 31) 99%,
    rgb(237, 55, 31) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(250, 239, 239, 1)),
    color-stop(30%, rgba(250, 239, 239, 1)),
    color-stop(63%, rgba(255, 181, 168, 1)),
    color-stop(87%, rgba(255, 181, 168, 1)),
    color-stop(99%, rgba(237, 55, 31, 1)),
    color-stop(100%, rgba(237, 55, 31, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgb(250, 239, 239) 0%,
    rgb(250, 239, 239) 30%,
    rgb(255, 181, 168) 63%,
    rgb(255, 181, 168) 87%,
    rgb(237, 55, 31) 99%,
    rgb(237, 55, 31) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(250, 239, 239, 1) 0%,
    rgba(250, 239, 239, 1) 30%,
    rgba(255, 181, 168, 1) 63%,
    rgba(255, 181, 168, 1) 87%,
    rgba(237, 55, 31, 1) 99%,
    rgba(237, 55, 31, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgb(250, 239, 239) 0%,
    rgb(250, 239, 239) 30%,
    rgb(255, 181, 168) 63%,
    rgb(255, 181, 168) 87%,
    rgb(237, 55, 31) 99%,
    rgb(237, 55, 31) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(250, 239, 239) 0%,
    rgb(250, 239, 239) 30%,
    rgb(255, 181, 168) 63%,
    rgb(255, 181, 168) 87%,
    rgb(237, 55, 31) 99%,
    rgb(237, 55, 31) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaef', endColorstr='#eded1f', GradientType=0 );
}
