<app-alert [alertMessage]="alertMessage"></app-alert>

<main id="register"
      *ngIf="userSelection && selectorVisibleFields && show_data && menuOptions"
      class="main">

  <form [formGroup]="selectorForm" class="register">
    <section class="register-form">
      <article class="register-column" *ngIf="selectorVisibleAreas.date">

        <!-------------------------- FIELD END --------------------------->
        <h3>Fecha</h3>
        <hr>
        <!-- start_date -->
        <div class="form-group two-column" id="start_date"
             *ngIf="selectorVisibleFields.start_date">
          <label
                 class="register-label">{{model.fieldInfo("start_date").text}}</label>

          <div>
            <input class="form-control register-input" type="text"
                   name="start_date" ngbDatepicker #start_date="ngbDatepicker"
                   (click)="start_date.toggle()" formControlName="start_date"
                   (ngModelChange)="onNewStartDate()" />
          </div>

          <div *ngIf="f.start_date.dirty && f.start_date.errors"
               class="register-error">
            <div *ngIf="f.start_date.errors.required">
              Este dato es obligatorio
            </div>
          </div>
        </div>

        <!-------------------------- FIELD END --------------------------->

        <!-- end_date -->
        <div class="form-group two-column" id="end_date"
             *ngIf="selectorVisibleFields.end_date">
          <label
                 class="register-label">{{model.fieldInfo("end_date").text}}</label>

          <div>
            <input class="form-control register-input" type="text"
                   name="end_date" ngbDatepicker #end_date="ngbDatepicker"
                   (click)="end_date.toggle()" formControlName="end_date"
                   (ngModelChange)="onNewEndDate()" />
          </div>

          <div *ngIf="f.end_date.dirty && f.end_date.errors"
               class="register-error">
            <div *ngIf="f.end_date.errors.required">
              Este dato es obligatorio
            </div>
          </div>
        </div>
        <!-------------------------- FIELD END --------------------------->


        <!-- --- SECTION 5 --------------------------------------------------->


      </article>
      <article class="register-column">
        <h3>General</h3>
        <hr>

        <div class="button-group">

          <!-- BUTTONS -->
          <button type="button" (click)="onAcceptSelector()"
                  class="btn btn-success">Aceptar</button>
          <button type="button" (click)="onCancelSelector()"
                  class="btn btn-warning">Cancelar</button>
          <button type="button" (click)="onResetSelector()"
                  class="btn btn-secondary">Resetear</button>
          <hr>
          <!-- status -->
          <div class="form-group two-column" id="status"
               *ngIf="selectorVisibleFields.status && selectorVisibleAreas.buttons">
            <label
                   class="register-label">{{model.fieldInfo('status').text}}</label>

            <div class="register-input">
              <ng-select [items]="menuOptions.status" bindLabel="name"
                         placeholder="Estatus" [dropdownPosition]="'auto'"
                         [searchable]="false" [clearable]="false"
                         [multiple]="false" hideSelected="true"
                         formControlName="status" (change)="onChange()">
              </ng-select>
            </div>

            <div *ngIf="f.status.dirty && f.status.errors"
                 class="register-error">
              <div *ngIf="f.status.errors.required">
                Este dato es obligatorio
              </div>
            </div>
          </div>

          <hr>

          <div class="form-group two-column" id="mode"
               *ngIf="selectorVisibleFields.mode && selectorVisibleAreas.buttons">
            <label
                   class="register-label">{{ model.fieldInfo("mode").text}}</label>

            <div>

              <label class="h3">{{userSelection.mode.name}}
                <!-- <span
                 *ngIf="userSelection.mode.name === 'Actual'">{{userSelection.current_date.year}}-{{userSelection.current_date.month}}-{{userSelection.current_date.day}}
           </span> -->

              </label>
              <!-- <ng-select class=" register-input" [items]="menuOptions.mode"
                 bindLabel="name" placeholder="Modo"
                 [dropdownPosition]="'auto'" [searchable]="false"
                 [clearable]="false" [multiple]="false" hideSelected="true"
                 formControlName="mode" (change)="onChange()">
             </ng-select> -->
            </div>

            <div *ngIf="f.mode.dirty && f.mode.errors" class="register-error">
              <div *ngIf="f.mode.errors.required">
                Este dato es obligatorio
              </div>
            </div>
          </div>

          <hr>

          <button (click)="getUserSelectionMenus()"
                  *ngIf="selectorVisibleAreas.buttons"
                  class="btn btn-outline-primary">Actualizar Menus</button>

          <hr>

          <button (click)="getUserJsonSelector()"
                  *ngIf="selectorVisibleAreas.buttons"
                  class="btn btn-outline-secondary">JSON selector</button>

          <!-- END BUTTONS -->
        </div>


      </article>
    </section>

  </form>

  <section class="json-selector" *ngIf="jsonSelector">
    <p>{{userSelection | json}}</p>
  </section>
</main>


<ng-template>


  <!-- orderBy -->
  <div class="form-group two-column" id="orderBy"
       *ngIf="selectorVisibleFields.orderBy">
    <label class="register-label">{{ model.fieldInfo("orderBy").text }}</label>

    <div class="register-input">
      <ng-select [items]="groupList" bindLabel="name" placeholder="Ordenar por"
                 [dropdownPosition]="'auto'" [searchable]="false"
                 [clearable]="true" [multiple]="false" hideSelected="true"
                 formControlName="orderBy" (change)="onChange()">
      </ng-select>
    </div>

    <div *ngIf="f.orderBy.dirty && f.orderBy.errors" class="register-error">
      <div *ngIf="f.orderBy.errors.required">
        Este dato es obligatorio
      </div>
    </div>
  </div>
  <!-------------------------- FIELD END --------------------------->

  <!-- limitBy -->
  <div class="form-group two-column" id="limitBy"
       *ngIf="selectorVisibleFields.limitBy">
    <label class="register-label">{{ model.fieldInfo("limitBy").text }}</label>

    <div class="register-input">
      <ng-select [items]="list" bindLabel="name" placeholder="Limitar"
                 [dropdownPosition]="'auto'" [searchable]="false"
                 [clearable]="true" [multiple]="false" hideSelected="true"
                 formControlName="limitBy" (change)="onChange()">
      </ng-select>
    </div>

    <div *ngIf="f.limitBy.dirty && f.limitBy.errors" class="register-error">
      <div *ngIf="f.limitBy.errors.required">
        Este dato es obligatorio
      </div>
    </div>
  </div>
  <!-------------------------- FIELD END --------------------------->
</ng-template>