// @import "sections/exports/src/shared/styles/exports/header-exports";
// @import "shared/styles/styles";
@import "shared/styles/modal/modal";

.header-block {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1rem;
  margin: 5px 20px 0px 20px;
}

.header-left {
  background: rgb(255, 181, 117) 87%;
  text-align: left;
  padding: 3px;
}

.header-center {
  background: rgb(255, 181, 117) 87%;
  text-align: center;
    padding: 3px;
}

.header-right {
  background: rgb(255, 181, 117) 87%;
  text-align: right;
  padding: 3px;
}

// TEXT OPTIONS

.callenter-title {
  font-weight: 600;
}

.selector-text-link {
  color: rgb(3, 49, 13);
  font-size: 0.9rem;
}

.report-title {
  color: darkred;
}
.report-date {
  color: rgb(24, 3, 49);
  font-size: 1.2rem;
}
.report-time {
  color: rgb(3, 49, 13);
  font-size: 1rem;
}
.report-call {
  color: rgb(3, 49, 13);
  font-size: 2rem;
}

.report-selection {
  color: rgb(3, 49, 13);
  font-size: 1.2rem;
}

.btn {
  font-size: 1rem;
  margin: 5px;
}
